version: "3"
services:
  structurizr:
    image: structurizr/lite
    container_name: structurizr
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./dsl:/usr/local/structurizr
  
  plantuml-viewer:
    image: python:3.9-alpine
    container_name: plantuml-viewer
    restart: always
    ports:
      - "8081:8000"  # Static file server
      - "8082:8001"  # API server for list_diagrams.py
    volumes:
      - ./level4-diagrams:/app
    working_dir: /app
    command: sh -c "python list_diagrams.py 8001 & python -m http.server 8000"